<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        td{
            min-width: 35px;
            max-width: auto;
        }
    </style>
    <script type="text/javascript">
    function myFunction() {
    var x = document.getElementById("mySelect").selectedIndex;
    document.getElementById("aid").href = `http://localhost:5050/getrecondetails/${document.getElementsByTagName("option")[x].value}`;
}
    </script>
</head>
<body>
    <div style="margin: 0px 45px 45px 45px;">

      <a
      style="width: 250px;position: relative;top:30px;height: 40px;"
      id="aid" class="btn btn-primary" href="" type="button" onclick="myFunction()">Reconcile</a>
        <select id="mySelect"
                    style="width: 250px;position: relative;top:32px;height: 40px;"
                    <option selected>Choose Transaction</option>
                    <option value="All">All</option>
                    <option value="Sales">Sales Invoice</option>
                    <option value="Purchase">Purchase Invoice</option>
                    <option value="Delivery Note">Delivery Note</option>
                    <option value="Receipt Note">Receipt Note</option>
                    <option value="Journal">Journal Voucher</option>
                    <option value="Receipt">Receipt Voucher</option>
                    <option value="Payment">Payment Voucher</option>
                    <option value="Credit Note">Credit Note</option>
                    <option value="Debit Note">Debit Note</option>
                    <option value="Stock Journal">Stock Journal</option>
                </select>
               <% if(message){ %>
                <% if(vouchername == null){ %>
                  <div class="row mt-5" style="min-height: 650px;margin: auto;">
                    <div class="col-md-6 card " style="background:#efefef">
                        <h1 style="text-align:center;position: relative;top:20px">GS APP</h1>
                        <h4 style="position: relative;top: 50px;">Total Vouchers</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered mt-5" >
                                <thead>
                                  <tr>
                                    <th>Sales Invoice</th>
                                    <th>Purchase Invoice</th>
                                    <th>Delivery Note</th>
                                    <th>Receipt Note</th>
                                    <th>Journal Voucher</th>
                                    <th>Receipt Voucher</th>
                                    <th>Payment Voucher</th>
                                    <th>Credit Note</th>
                                    <th>Debit Note</th>
                                    <th>Stock Journal</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td><%= table2[0]['Sales'].length %></td>
                                    <td><%= table2[1]['Purchase'].length %></td>
                                    <td><%= table2[2]['Delivery Note'].length %></td>
                                    <td><%= table2[3]['Receipt Note'].length %></td>
                                    <td><%= table2[4]['Journal'].length %></td>
                                    <td><%= table2[5]['Receipt'].length %></td>
                                    <td><%= table2[6]['Payment'].length %></td>
                                    <td><%= table2[7]['Credit Note'].length %></td>
                                    <td><%= table2[8]['Debit Note'].length %></td>
                                    <td><%= table2[9]['Stock Journal'].length %></td>
                                  </tr>


                                </tbody>
                              </table>
                        </div>
                        <h4 style="position: relative;top: 50px;">Total Amount</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered mt-5" >
                                <thead>
                                  <tr>
                                    <th>Sales Invoice</th>
                                    <th>Purchase Invoice</th>
                                    <th>Delivery Note</th>
                                    <th>Receipt Note</th>
                                    <th>Journal Voucher</th>
                                    <th>Receipt Voucher</th>
                                    <th>Payment Voucher</th>
                                    <th>Credit Note</th>
                                    <th>Debit Note</th>
                                    <th>Stock Journal</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr >
                                    <td><%= table2[0].amount %></td>
                                    <td><%= table2[1].amount %></td>
                                    <td><%= table2[2].amount %></td>
                                    <td><%= table2[3].amount %></td>
                                    <td><%= table2[4].amount %></td>
                                    <td><%= table2[5].amount %></td>
                                    <td><%= table2[6].amount %></td>
                                    <td><%= table2[7].amount %></td>
                                    <td><%= table2[8].amount %></td>
                                    <td><%= table2[9].amount %></td>
                                  </tr>


                                </tbody>
                              </table>
                        </div>

                    </div>
                    <div class="col-md-6 card" style="background:#efefef">
                        <h1 style="text-align:center;position: relative;top:20px">Tally</h1>
                        <h4 style="position: relative;top: 50px;">Total Vouchers</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered mt-5" >
                                <thead>
                                  <tr>
                                    <th>Sales Invoice</th>
                                    <th>Purchase Invoice</th>
                                    <th>Delivery Note</th>
                                    <th>Receipt Note</th>
                                    <th>Journal Voucher</th>
                                    <th>Receipt Voucher</th>
                                    <th>Payment Voucher</th>
                                    <th>Credit Note</th>
                                    <th>Debit Note</th>
                                    <th>Stock Journal</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td><%= table[0]['Sales'].length %></td>
                                    <td><%= table[1]['Purchase'].length %></td>
                                    <td><%= table[2]['Delivery Note'].length %></td>
                                    <td><%= table[3]['Receipt Note'].length %></td>
                                    <td><%= table[4]['Journal'].length %></td>
                                    <td><%= table[5]['Receipt'].length %></td>
                                    <td><%= table[6]['Payment'].length %></td>
                                    <td><%= table[7]['Credit Note'].length %></td>
                                    <td><%= table[8]['Debit Note'].length %></td>
                                    <td><%= table[9]['Stock Journal'].length %></td>
                                  </tr>


                                </tbody>
                              </table>
                        </div>
                        <h4 style="position: relative;top: 50px;">Total Amount</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered mt-5" >
                                <thead>
                                  <tr>
                                    <th>Sales Invoice</th>
                                    <th>Purchase Invoice</th>
                                    <th>Delivery Note</th>
                                    <th>Receipt Note</th>
                                    <th>Journal Voucher</th>
                                    <th>Receipt Voucher</th>
                                    <th>Payment Voucher</th>
                                    <th>Credit Note</th>
                                    <th>Debit Note</th>
                                    <th>Stock Journal</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr >
                                    <td><%= table[0].amount %></td>
                                    <td><%= table[1].amount %></td>
                                    <td><%= table[2].amount %></td>
                                    <td><%= table[3].amount %></td>
                                    <td><%= table[4].amount %></td>
                                    <td><%= table[5].amount %></td>
                                    <td><%= table[6].amount %></td>
                                    <td><%= table[7].amount %></td>
                                    <td><%= table[8].amount %></td>
                                    <td><%= table[9].amount %></td>
                                  </tr>


                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
              <% } else{ %>
                <div class="row mt-5" style="min-height: 150px;margin: auto;width:900px;">
                  <div class="col-md-6 card " style="background:#efefef">
                      <h1 style="text-align:center;position: relative;top:20px">GS APP</h1>
                      <h4 style="position: relative;top: 50px;">Total Vouchers</h4>
                      <div class="table-responsive">
                          <table class="table table-striped table-bordered mt-5" >
                              <thead>
                                <tr>
                                  <th><%= vouchername %></th>
                                 </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td><%= table2[0][vouchername].length %></td>
                                </tr>
                              </tbody>
                            </table>
                      </div>
                      <h4 style="position: relative;top: 50px;">Total Amount</h4>
                      <div class="table-responsive">
                          <table class="table table-striped table-bordered mt-5" >
                              <thead>
                                <tr>
                                  <th><%= vouchername %></th>
                              </tr>
                              </thead>
                              <tbody>
                                <tr >
                                  <td><%= table2[0].amount %></td>
                                 </tr>
                              </tbody>
                            </table>
                      </div>

                  </div>
                  <div class="col-md-6 card" style="background:#efefef">
                      <h1 style="text-align:center;position: relative;top:20px">Tally</h1>
                      <h4 style="position: relative;top: 50px;">Total Vouchers</h4>
                      <div class="table-responsive">
                          <table class="table table-striped table-bordered mt-5" >
                              <thead>
                                <tr>
                                  <th><%= vouchername %></th>

                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td><%= table[0][vouchername].length %></td>
                              </tr>
                          </tbody>
                            </table>
                      </div>
                      <h4 style="position: relative;top: 50px;">Total Amount</h4>
                      <div class="table-responsive">
                          <table class="table table-striped table-bordered mt-5" >
                              <thead>
                                <tr>
                                  <th><%= vouchername %></th>
                              </tr>
                              </thead>
                              <tbody>
                                <tr >
                                  <td><%= table[0].amount %></td>
                              </tr>
                          </tbody>
                            </table>
                      </div>
                  </div>
                  <div class="col-md-6 mt-4 card" style="background:#efefef">
                    <h4 style="position: relative;top:15px">In GS App</h4>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered mt-3" style="overflow: scroll">
                            <thead>
                              <tr>
                                <th>Missing Vch No</th>
                                <th>Amount</th>
                                <th>Tallyid</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>

                                <% missingvouchertally.forEach( card => { %>
                                  <tr>
                                  <td><%= card.vouchernumber %></td>
                                  <td><%= card.amount %></td>
                                  <td><%= card.tallyid %></td>
                                  <td><%= card.date %></td>
                                  </tr>
                              <% }) %>
                              <button style="position: relative;top:0px;left:150px" class="btn btn-primary">Delete From Tally</button>
                        </tbody>
                          </table>
                    </div>
                </div>
                <div class="col-md-6 mt-4 card" style="background:#efefef">
                  <h4 style="position: relative;top:15px">In Tally App</h4>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered mt-3" >
                          <thead>
                            <tr>
                              <th>Missing Vch No</th>
                              <th>Amount</th>
                              <th>Tallyid</th>
                              <th>Date</th>
                          </tr>
                          </thead>
                          <tbody>

                              <% missingvouchergs.forEach( card => { %>
                                <tr>
                                <td><%= card.vouchernumber %></td>
                                <td><%= card.amount %></td>
                                <td><%= card.tallyid %></td>
                                <td><%= card.date %></td>
                                </tr>
                            <% }) %>
                        <button style="position: relative;top:0px;left:150px" class="btn btn-primary">Resync</button>
                      </tbody>
                        </table>
                  </div>
              </div>
              </div>
              <% } %>

              <% } else{ %>

              <% } %>


    </div>
</body>
</html>